<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tweeter Pan</title>
</head>
<body>
  <div class = "container">
  <h1>Welcome to <em><strong>Tweeter Pan</strong></em>!</h1>
  <h4>Tweeter Pan is your one-stop shop for visualizing the most commonly used words in your Twitter feed (or someone else's if you want to be a creep about it).</h4>
  <br>
    <form action="/search" method="post" form style="text-align:center">
    @<input type="text" name="handle" placeholder="Enter a twitter handle.">
    <button>...and just add pixie dust</button>
    </form>

  
  </div>

  <!-- Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>